* {
    font-size: x-large;
    color: white;
    margin: 0px;
}

body { 
    background: url('./food.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed, scroll;
}

#content { 
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 0px;
    border-bottom: 3px solid white;
}
.header > * {
    background-color: transparent;
    border: none;
}
.title {
    margin: 200px 0px;
    margin-bottom: 200px;
    font-size: 80px;

}
.titleInfo {
    margin: 180px 0px;
    font-size: 40px;
}
.info {
    background-color: black;
    padding: 20px;
    margin: 10vh 20vw;
    border: 3px solid white;

}