* {
    font-size: x-large;
    color: white;
    margin: 0px;
    border: 1px solid white;   

}

body { 
    background: url('./food.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed, scroll;
}
#content { 
    text-align: center;
    opacity: .99;
}

#content >* {
    background-color: darksalmon;
}

.header {
    margin-bottom: 3000px;

}
.info {
    height: 40vh;
}